#agents {
  padding-top: 80px;
  // background: url("../../img/image 2.png") no-repeat center/cover;
  // min-height: 20vh;
  .persons {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: var(--color-bg, #fff);
      text-align: center;
      font-family: Poppins;
      font-size: 50.52px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 500px;
      margin-bottom: 389px;
      display: flex;
    }
  }
  .agents {
    margin-bottom: 140px;
    position: relative;
    &--btn {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: rgba(27, 118, 249, 0.3);
      color: var(--color-main, #1b76f9);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 689px;
      &:hover{
        background:  var(--color-main, #1b76f9);
        color:  white;

      }
    }
    &--hooks {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 300px 0 150px 0;
      &__per {
        width: 356px;
        height: 569px;
        border-radius: 32px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        img {
          width: 360px;
          height: 355px;
        }
        h3 {
          color: var(--color-text, #004a60);
          font-family: Poppins;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        p {
          align-self: stretch;
          color: var(--color-text, #004a60);
          text-align: center;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
        }
        button {
          display: flex;
          padding: 13px 28px;
          align-items: center;
          gap: 8px;
          border-radius: 25px;
          background: var(--color-main, #1b76f9);
          color: var(--color-bg, #fff);
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 42px;
          &:hover {
            background: white;
            border: 1px solid #1b76f9;
            color: #1b76f9;
            transform: scale(1.1);
            transition: 0.4s;
          }
        }
      }
    }
    &--inli {
      display: inline-flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      flex-shrink: 0;
      border-radius: 32px;
      border: 1px solid rgba(0, 74, 96, 0.5);
      background: #fff;
      height: 236px;
      width: 883px;
      padding: 24px;

      top: -105px;
      left: 301px;
      select {
        display: flex;

        padding: 8px 29px 14px 12px;
        align-items: center;
        gap: 8px;
        // align-self: stretch;
        background: var(--color-bg, #fff);
        color: rgba(0, 74, 96, 0.7);
        /* Text/XS */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid rgba(0, 74, 96, 0.7);
        border-radius: 6px;
        position: absolute;
        top: 149px;
      }
      &__search {
        display: flex;
        position: relative;
        h1 {
          width: 555px;
          color: var(--color-bg, #fff);
          text-align: center;
          font-size: 59px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          position: absolute;
          bottom: 224px;
          right: -292px;
        }
        input {
          position: absolute;
          right: -402px;
          top: -91px;
          display: flex;
          width: 804px;
          height: 98px;
          padding: 16px 16px 16px 32px;
          justify-content: space-between;
          align-items: center;
          border-radius: 16px;
          background: rgba(0, 74, 96, 0.1);
          outline: none;
        }
        button {
          position: absolute;
          color: var(--color-bg, #fff);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          padding: 18px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: var(--color-main, #1b76f9);
          left: 263px;
          top: -72px;
          &:hover {
            background: white;
            border: 1px solid #1b76f9;
            color: #1b76f9;
            transform: scale(1.1);
            transition: 0.4s;
          }
        }
      }
    }
  }
}
