@media (max-width: 1440px) {
  #agents {
    .agents {
      btn {
        margin-left: 568px;
      }
      &--hooks {
        &__per {
          width: 296px;
          height: 522px;
          img {
            width: 360px;
            height: 308px;
          }
        }
      }
      &--inli {
        left: 203px;
        &__search {
          h1 {
            bottom: 154px;
            right: -295px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #agents {
    .agents {
      btn {
        margin-left: 444px;
      }
      &--hooks {
        &__per {
          width: 230px;
          height: 446px;
          h3 {
            font-size: 24px;
          }
          img {
            width: 360px;
            height: 231px;
          }
        }
      }
      &--inli {
        height: 213px;
        width: 822px;
        left: 108px;
        &__search {
          button {
            padding: 15px;
            top: -60px;
          }
          input {
            right: -391px;
            top: -78px;
            width: 782px;
            height: 90px;
          }
          h1 {
            bottom: 120px;
            right: -282px;
            font-size: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #agents {
    .agents {
      btn {
        font-size: 22px;
        margin-left: 388px;
      }
      &--hooks {
        &__per {
          width: 205px;
          height: 416px;
          h3 {
            font-size: 20px;
          }
          img {
            width: 360px;
            height: 205px;
          }
          button {
            font-size: 12px;
          }
        }
      }
      &--inli {
        height: 171px;
        width: 710px;
        left: 108px;
        select {
          padding: 1px 21px 5px 12px;
          top: 122px;
        }
        &__search {
          button {
            padding: 13px;
            top: -47px;
            left: 217px;
          }
          input {
            right: -336px;
            top: -66px;
            width: 673px;
            height: 90px;
          }
          h1 {
            bottom: 120px;
            right: -282px;
            font-size: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #agents {
    .agents {
      btn {
        font-size: 15px;
        margin-left: 323px;
      }
      &--hooks {
        &__per {
          width: 167px;
          height: 335px;
          gap: 10px;
          p {
            font-size: 13px;
          }
          h3 {
            font-size: 15px;
          }
          img {
            width: 360px;
            height: 166px;
          }
          button {
            font-size: 10px;
            padding: 8px 20px;
          }
        }
      }
      &--inli {
        height: 137px;
        width: 668px;
        left: 59px;
        top: -64px;
        select {
          padding: 1px 21px 5px 12px;
          top: 97px;
          font-size: 14px;
        }
        &__search {
          button {
            top: -40px;
            left: 212px;
            font-size: 14px;
          }
          input {
            top: -52px;
            left: -317px;
            width: 639px;
            height: 71px;
          }
          h1 {
            bottom: 96px;
            right: -295px;
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #agents {
    .agents {
      btn {
        font-size: 20px;
        margin-left: 388px;
      }
      &--hooks {
        gap: 5rem;
        padding: 205px 0 150px 82px;
        &__per {
          width: 218px;
          height: 416px;
          gap: 28px;

          h3 {
            font-size: 20px;
          }
          img {
            width: 360px;
            height: 205px;
          }
          button {
            font-size: 12px;
          }
        }
      }
      &--inli {
        height: 110px;
        width: 462px;
        left: 108px;
        top: -54px;
        select {
          padding: 1px 21px 5px 12px;
          top: 75px;
          font-size: 11px;
        }
        &__search {
          button {
            padding: 7px;
            top: -30px;
            left: 119px;
            font-size: 13px;
          }
          input {
            right: -432px;
            left: -217px;
            top: -41px;
            width: 432px;
            height: 54px;
          }
          h1 {
            bottom: 120px;
            right: -282px;
            font-size: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #agents {
    .imgg {
      width: 575px;
      transform: scale(3.5);
      height: 206px;
      padding-top: 48px;
    }
    .agents {
      btn {
        font-size: 20px;
        margin-left: 191px;
      }
      &--hooks {
        gap: 3rem;
        padding: 439px 0 150px 37px;
        &__per {
          width: 192px;
          height: 416px;
          gap: 28px;

          h3 {
            font-size: 20px;
          }
          img {
            width: 360px;
            height: 205px;
          }
          button {
            font-size: 12px;
          }
        }
      }
      &--inli {
        height: 128px;
        width: 462px;
        left: 32px;
        top: 199px;
        select {
          padding: 1px 21px 5px 12px;
          top: 86px;
          font-size: 11px;
        }
        &__search {
          button {
            padding: 7px;
            top: -30px;
            left: 119px;
            font-size: 13px;
          }
          input {
            right: -432px;
            left: -217px;
            top: -41px;
            width: 432px;
            height: 54px;
          }
          h1 {
            bottom: 120px;
            right: -282px;
            font-size: 50px;
          }
        }
      }
    }
  }
}
