@media (max-width: 1440px) {
  #agentsas {
    .bil1 {
      display: block;
    }
    .bil2 {
      display: none;
    }
    .personsas {
      h1 {
        margin: -264px 0 0 495px;
      }
    }

    .agentsas {
      padding-top: 520px;
      &--hooksas {
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            margin-left: 123px;
          }
        }
        &__yed {
          &--yellow {
            display: flex;
            margin-right: -95px;
            h3 {
              font-size: 23px;
            }
            p {
              font-size: 18px;
            }
            &__tup {
              font-size: 15px;
            }
            h6 {
              font-size: 17px;
            }
            width: 418px;
            height: 299px;
          }
          &--red {
            width: 662px;
            height: 281px;
            padding: 5px;
            &__mini {
              &--tex {
                h3 {
                  font-size: 23px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 15px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 10px;
                margin-bottom: -15px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          margin: -422px 0 140px 212px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #agentsas {
    .bil1 {
      display: block;
    }
    .bil2 {
      display: none;
    }
    .personsas {
      h1 {
        margin: -230px 0 0 380px;
      }
    }
    .agentsas {
      padding-top: 500px;
      &--hooksas {
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 30px;
            margin-left: 123px;
          }
        }
        &__yed {
          display: flex;
          margin: 7px -12px 1px -30px;
          .latest {
            font-size: 30px;
            margin: -123px -31px 1px 1px;
          }
          &--yellow {
            display: flex;
            margin-right: -131px;
            width: 335px;
            height: 294px;
            h3 {
              font-size: 23px;
            }
            p {
              font-size: 18px;
            }
            &__tup {
              font-size: 13px;
            }
            h6 {
              font-size: 17px;
            }
          }
          &--red {
            width: 602px;
            height: 281px;
            padding: 3px;
            &__mini {
              &--tex {
                h3 {
                  font-size: 23px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 13px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 17px;
                margin-bottom: -6px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          margin: -422px 0 140px 92px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #agentsas {
    .bil1 {
      display: block;
    }
    .bil2 {
      display: none;
    }
    .personsas {
      h1 {
        margin: -230px 0 0 265px;
      }
    }
    .agentsas {
      &--hooksas {
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: 143px;
          }
        }
        &__yed {
          display: flex;
          margin: 46px 41px 1px 1px;
          gap: 29px;
          .latest {
            font-size: 23px;
            margin: -125px 1px 1px 1px;
          }
          &--yellow {
            display: flex;
            margin-right: -113px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 510px;
            height: 276px;
            padding: 3px;
            &__mini {
              &--tex {
                gap: -22px;
                h3 {
                  font-size: 23px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          margin: -422px 0 140px 33px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #agentsas {
    .bil1 {
      display: block;
    }
    .bil2 {
      display: none;
    }
    .personsas {
      h1 {
        margin: -186px 0 0 303px;
        font-size: 45px;
      }
    }
    .agentsas {
      padding-top: 460px;
      &--hooksas {
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: 54px;
          }
        }
        &__yed {
          display: flex;
          margin: 7px 151px 1px 1px;
          gap: 20px;
          .latest {
            font-size: 23px;
            margin: 44px 30px 1px 1px;
          }

          &--yellow {
            display: flex;
            margin-right: -113px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 510px;
            height: 276px;
            padding: 3px;
            &__mini {
              &--tex {
                gap: -22px;
                h3 {
                  font-size: 23px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          margin: -406px 0 140px -37px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        margin: -175px 0 0 243px;
        font-size: 33px;
      }
    }
    .agentsas {
      &--hooksas {
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: 118px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 151px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 220px;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 190px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 76px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 510px;
            height: 276px;
            padding: 3px;
            &__mini {
              &--tex {
                gap: -22px;
                h3 {
                  font-size: 23px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 443px;
          margin: -422px 0 140px 119px;
          input {
            font-size: 12px;
          }
          button {
            padding: 14px 7px;
            left: 289px;
            top: 57px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        margin: -179px 0 0 147px;
        font-size: 33px;
      }
    }
    .agentsas {
      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -95px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -139px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 151px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 220px;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 190px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 76px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 510px;
            height: 276px;
            padding: 3px;
            margin: -7px 10px 1px 24px;
            &__mini {
              &--tex {
                gap: -22px;
                h3 {
                  font-size: 23px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 443px;
          margin: -422px 0 140px 36px;
          input {
            font-size: 12px;
          }
          button {
            padding: 14px 7px;
            left: 289px;
            top: 57px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        margin: -172px 0 0 81px;
        font-size: 33px;
      }
    }
    .agentsas {
      padding-bottom: 100px;

      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -263px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -240px;
            width: 246px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 151px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 220px 0 100px 0;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 190px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 76px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 277px;
            height: 501px;
            &__mini {
              flex-direction: column;
              &--tex {
                gap: 1px;
                h3 {
                  font-size: 23px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 321px;
          margin: -422px 0 140px 36px;
          input {
            font-size: 8px;
          }
          button {
            padding: 13px 5px;
            left: 222px;
            top: 61px;
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        left: 77px;
        bottom: 118px;
        font-size: 33px;
      }
    }
    .agentsas {
      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -263px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -240px;
            width: 246px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 151px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 220px 0 100px 0;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 190px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 76px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 277px;
            height: 501px;
            &__mini {
              flex-direction: column;
              &--tex {
                gap: 1px;
                h3 {
                  font-size: 23px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 321px;
          margin: -422px 0 140px 36px;
          input {
            font-size: 8px;
          }
          button {
            padding: 13px 5px;
            left: 222px;
            top: 61px;
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 415px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        left: 77px;
        bottom: 118px;
        font-size: 33px;
      }
    }
    .agentsas {
      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -263px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -240px;
            width: 246px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 151px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 220px 0 100px 0;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 190px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 76px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 277px;
            height: 501px;
            &__mini {
              flex-direction: column;
              &--tex {
                gap: 1px;
                h3 {
                  font-size: 23px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 321px;
          margin: -422px 0 140px 36px;
          input {
            font-size: 8px;
          }
          button {
            padding: 13px 5px;
            left: 222px;
            top: 61px;
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        margin: -179px -13px 1px 43px;
        font-size: 33px;
      }
    }
    .agentsas {
      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -263px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -240px;
            width: 246px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 257px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 220px 0 100px 0;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 345px;
            padding-left: 158px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 231px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 277px;
            height: 501px;
            &__mini {
              flex-direction: column;
              &--tex {
                gap: 1px;
                h3 {
                  font-size: 23px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 321px;
          margin: -422px 0 130px 10px;
          input {
            font-size: 8px;
          }
          button {
            padding: 13px 5px;
            left: 222px;
            top: 61px;
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        left: 53px;
        bottom: 118px;
        font-size: 28px;
      }
    }
    .agentsas {
      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -263px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -217px;
            width: 246px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 257px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 220px 0 100px 0;
          }
          .latest {
            font-size: 23px;
            margin: 65px 213px 52px 75px;
            width: 345px;
            padding-left: 158px;
          }

          &--yellow {
            display: flex;
            margin: 26px 66px -45px 231px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 277px;
            height: 501px;
            margin: 0 0 0 187px;
            &__mini {
              flex-direction: column;
              &--tex {
                gap: 1px;
                h3 {
                  font-size: 23px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 321px;

          margin: -422px 0 42px -5px;
          input {
            font-size: 8px;
          }
          button {
            padding: 13px 5px;
            left: 222px;
            top: 61px;
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #agentsas {
    .bil1 {
      display: none;
    }
    .bil2 {
      display: block;
    }
    .personsas {
      h1 {
        left: 40px;
        bottom: 118px;
        font-size: 28px;
      }
    }
    .agentsas {
      &--hooksas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -76px -263px 1px 1px;
        &__persas {
          margin: 120px 0 40px -75px;
          h2 {
            font-size: 23px;
            margin-left: -217px;
            width: 246px;
          }
        }
        &__yed {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 7px 257px 1px 1px;
          gap: 20px;
          .fold {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 220px 0 100px 0;
          }
          .dolb {
            font-size: 23px;
            margin: -110px 119px 52px 1px;
          }

          &--yellow {
            display: flex;
            margin-right: 3px;
            width: 293px;
            height: 289px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
            &__tup {
              font-size: 10px;
            }
            h6 {
              font-size: 15px;
            }
          }
          &--red {
            width: 277px;
            height: 501px;
            margin: 0 0 0 193px;
            &__mini {
              flex-direction: column;
              &--tex {
                gap: 1px;
                h3 {
                  font-size: 23px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 18px;
                }
                &__gop {
                  font-size: 10px;
                  padding: 8px 8px;
                }
              }
              img {
                width: 266px;
                display: flex;
                padding-bottom: 12px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
      &--inlisas {
        &__searchsas {
          width: 300px;
          height: 102px;

          margin: -385px 0 42px -5px;
          input {
            font-size: 8px;
            height: 63px;
            padding: -2px 10px 16px 32px;
            margin-top: -10px;
          }
          button {
            padding: 10px 2px;
            left: 208px;
            top: 36px;
            font-size: 9px;
          }
        }
      }
    }
  }
}
