#agentsas {
  .bil1{
    display: block;
  }
  .bil2{
    display: none;
  }
  padding-top: 80px;
  .personsas {
    position: relative;
  padding-top: 80px;
  .bil1 {
    display: block;
  }
  .bil2{
    display: none;
  }
  .personsas {
    h1 {
      // color: var(--color-bg, #fff);
      color: white;
      text-align: center;
      font-family: Poppins;
      font-size: 58px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 500px;
         
    margin: -298px 0 0 650px;
      display: flex;
    }
  }
  .agentsas {
    // display: flex; 
    padding-top: 550px;
      font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 530px;
    display: flex;
    position: absolute;
    bottom: 212px;
    left: 674px;
    }
  }
  .agentsas {
    margin-top: 340px;
    &--hooksas {
      &__yed { 
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        .latest{
        .dolb{
          color: var(--color-text, #004a60);
          font-family: Poppins;
          font-size: 38px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          display: flex;
          margin: -136px 1px 1px 1px;
        }

          margin: -135px 1px 8px 1px;
        }
       
        &--yellow {
          display: flex;
          align-items: start;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 8px;
          gap: 7px;
          border-radius: 16px;
          border: 1px solid rgba(0, 74, 96, 0.5);
          width: 501px;
          height: 335px;
          margin: -36px 1px 36px 1px;

          margin: -40px 1px 39px 1px;x
          &__tup {
            display: flex;
            padding: 8px 19px;
            font-size: 20px;
            align-items: flex-start;
            gap: 8px;
            border-radius: 8px;
            border: 1px solid rgba(0, 74, 96, 0.5);
            margin-top: 25px;

            background: black;

          }
          p {
            color: #004a60;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          h3 {
            color: var(--color-text, #004a60);
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          h2 {
            color: var(--color-text, #004a60);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          h6 {
            color: var(--color-text, #004a60);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        &--red {
          display: flex;
          width: 730px;
          height: 303px;
          padding: 8px;
          align-items: flex-start;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid rgba(0, 74, 96, 0.5);
          &__mini {
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
              width: 282px;
            }
            &--tex {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              gap: 8px;
              p {
                color: #004a60;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              h3 {
                color: var(--color-text, #004a60);
                font-family: Poppins;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                display: flex;
                margin-bottom: 80px;
              }
              h2 {
                color: var(--color-text, #004a60);
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              &__gop {
                display: flex;
                padding: 8px 19px;
                font-size: 20px;
                align-items: flex-start;
                gap: 8px;
                border-radius: 8px;
                border: 1px solid rgba(0, 74, 96, 0.5);
              }
            }
          }
        }
      }
      &__persas {
        display: flex;
        align-items: self-start;
        flex-wrap: wrap;
        margin: 120px 0 40px 50px;

        h2 {
          color: var(--color-text, #004a60);
          font-family: Poppins;
          font-size: 38px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    &--inlisas {
      display: inline-flex;
      height: 200px;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      flex-shrink: 0;
      border-radius: 32px;
      border: 1px solid rgba(0, 74, 96, 0.5);
      background: #fff;
      position: absolute;
      top: -378px;
      left: 279px;

      &__searchsas {
        display: flex;
        position: relative;
        background: white;
        border-radius: 32px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        padding: 29px;
        height: 174px;
        width: 855px;
        margin: -422px 0 140px 317px;

        input {
          display: flex;
          width: 791px;
          height: 111px;
          padding: 14px 16px 16px 32px;
          justify-content: space-between;
          align-items: center;
          border-radius: 16px;
          background: rgba(0, 74, 96, 0.1);
          outline: none;
        }
        button {
          position: absolute;
          color: var(--color-bg, #fff);
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          padding: 21px 26px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: var(--color-main, #1b76f9);
          left: 656px;
          top: 50px;
          &:hover {
            background: white;
            border: 1px solid #1b76f9;
            color: #1b76f9;
            transform: scale(1.1);
            transition: 0.4s;
          }
        }
      }
    }
  }
}
