#forgotAdmin {
  background: url("../../../img/admin-login.png") no-repeat center/cover;
  min-height: 100vh;

  .forgotAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: start;
      display: flex;
      align-items: start;
      img{
        margin-left: 10px;
      }
    }

    &--form {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 40px;
      border-radius: 32px;
      border: 1px solid rgba(0, 74, 96, 0.61);
      background: #FFF;
      width: 40%;

      form{
        width: 100%;
        padding: 0 10%;

        h1{
          text-align: center;
        }
      }

      .errorEmail {
        ::placeholder {
          color: red;
        }
        input {
          border-radius: 11px;
          border: 1px solid red;
          padding: 15px 20px;
          margin: 8px 0;
          font-size: 18px;
        }
      }

      .errorPassword {
        ::placeholder {
          color: red;
        }
        input {
          border-radius: 11px;
          border: 1px solid red;
          padding: 15px 20px;
          margin: 8px 0;
          font-size: 18px;
        }
      }

      ul {
        ::placeholder {
          color: rgba(0, 74, 96, 0.54);
        };
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        position: relative;
        div{
          font-size: 20px;
          position: absolute;
          top: 28px;
          right: 20px;
          cursor: pointer;
        }

        input {
          border-radius: 11px;
          border: 1px solid rgba(0, 74, 96, 0.46);
          padding: 15px 20px;
          margin: 12px 0;
          font-size: 18px;
          width: 100%;
        }
        h5 {
          color: red;
          font-weight: lighter;
          margin-top: -4px;
        }
      }

      p {
        padding: 10px 0;
        color: #004A60;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__helper {
        text-align: center;
        color: var(--color-main, #1B76F9);
        font-size: 16px;
        padding: 10px 0;
        margin: 10px 0;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
      }

      button {
        color: #FFF;
        font-size: 20px;
        border-radius: 11px;
        border: 1px solid #0762E5;
        background: #1B76F9;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 12px 43%;
        margin: 14px 0;
        cursor: pointer;
      }

      &__withGoogle {
        text-align: center;
        display: flex;
        align-items: center;
        color: #004A60;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: center;
        margin-top: 12px;
        padding: 10px 0;
        border-radius: 11px;
        border: 1px solid rgba(0, 74, 96, 0.46);

        &--icon {
          font-size: 30px;
        }

        span {
          margin-left: 10px;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  #forgotAdmin{
    .forgotAdmin{
      h1{
        font-size: 25px;
        img{
          width: 7%;
        }

      }
    }
  }
}

@media (max-width: 450px) {
  #forgotAdmin{
    .forgotAdmin{
      &--form{
        align-items: center;
        padding: 18px;


        &__withGoogle{
          font-size: 18px;
          width: 90%;
        }
        button{
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 18px;
          width: 80%;
        }

        p{
          text-align: center;
        }

        ul{
          input{
            width: 88%;
          }
        }
      }
    }
  }
}