#homeSearch{
  padding: 15% 0 10% 0;
  .homeSearch {
    .text {
      color: var(--color-text, #004A60);
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 16px;
    }
    .title {
      color: rgba(0, 74, 96, 0.70);
      font-size: 19px;
      font-weight: 400;
      text-align: center;
    }
    &--cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 64px;
      .card {
        img {
          width: 100%;
        }
        position: relative;
        display: flex;
        width: 426px;
        height: 368px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        border-radius: 32px;
        border: 1px solid rgba(0, 74, 96, 0.50);
        .SuperAgents {
          position: absolute;
          top: 16px;
          left: 16px;
          display: flex;
          padding: 4px 8px;
          align-items: center;
          justify-content: center;
          gap: 4px;
          border-radius: 16px;
          background: var(--color-main, #1B76F9);
          color: var(--color-bg, #FFF);
          .super{
            color: var(--color-bg, #FFF);
            font-size: 12.8px;
            font-weight: 300;
          }
        }
        .Verified {
          display: flex;
          padding: 4px 8px;
          align-items: center;
          gap: 4px;
          position: absolute;
          left: 16px;
          top: 16px;
          border-radius: 16px;
          background: var(--color-main, #1B76F9);
          color: var(--color-bg, #FFF);
        }
       .cardText {
         padding: 0 30px;
         h1 {
           color: var(--color-text, #004A60);
           font-size: 21.33px;
           font-weight: 500;
           margin-bottom: 15px;
         }
         p{
           color: rgba(0, 74, 96, 0.70);
           font-size: 16px;
           font-weight: 400;
         }
       }
      }
    }
  }
}

@media (max-width: 992px) {
  #homeSearch {
    .homeSearch {
      &--cards {
        display: flex;
        justify-content: space-between;

      }
    }
  }
}


@media (max-width: 768px) {
  #homeSearch {
    padding: 45% 0 10% 0;
    .homeSearch {
      &--cards {
        flex-direction: column;
        align-items: center;
        gap: 35px
      }
    }
  }
}

@media (max-width: 576px) {
  #homeSearch {
    padding: 55% 0 10% 0;
  }
}

@media (max-width: 480px) {
  #homeSearch {
    padding: 60% 0 20% 0;
  }
}

@media (max-width: 414px) {
  #homeSearch {
    .homeSearch {
      .text {
        font-size: 25px;
      }
      .title {
        font-size: 16px;
      }
      &--cards {
        .card {
          width: 369px;
          height: 350px;
        }

      }
    }
  }
}

@media (max-width: 370px) {
  #homeSearch {
    .homeSearch {
      .text {
        font-size: 25px;
      }
      .title {
        font-size: 16px;
      }
      &--cards {
        .card {
          width: 327px;
          height: 350px;
        }

      }
    }
  }
}

@media (max-width: 320px) {
  #homeSearch {
    padding: 70% 0 20% 0;
    .homeSearch {
      .text {
        font-size: 25px;
      }
      .title {
        font-size: 16px;
      }
      &--cards {
        margin-top: 35px;
        .card {
          width: 275px;
          height: 378px;
        }

      }
    }
  }
}