#SearchFilter {
  padding: 40px 0;
  .SearchFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    &--SearchBlock {
      display:flex;
      justify-content: space-between;
      align-items: end;
      gap: 16em;
      &__search {
        width: 756px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: rgba(0, 74, 96, 0.10);
        input {
          width: 80%;
          outline: none;
          border: none;
          color: rgba(0, 74, 96, 0.50);
          font-size: 16px;
          font-weight: 400;
          background: none;
          padding-left: 16px;
        }
        button {
          display: flex;
          padding: 18px 20px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: var(--color-main, #1B76F9);
          color: var(--color-bg, #FFF);
          font-size: 16px;
          font-weight: 500;
          border: none;
          .searchLine {
            font-size: 24px;
          }
        }
      }
      &__options {
        display: flex;
        gap: 8px;
        select {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
      }
    }
    &--Filter {
      display: flex;
      justify-content: space-between;
      gap: 54.5em;
      &__block {
        display: flex;
        gap: 24px;
        button {
          display: flex;
          padding: 8px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          cursor: pointer;
          .icon {
            font-size: 24px;
          }
        }
        button:focus {
          background:  #1B76F9;
          color: #fff;
        }
      }
      &__sort {
        display: flex;
        align-items: end;
        p {
          color: rgba(0, 74, 96, 0.70);
          font-size: 12.8px;
          font-weight: 400;
          margin-right: 15px;
        }
        select {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
      }
    }
  }
}