#SearchFilter {
  padding: 140px 0 40px 0;
  .SearchFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    &--SearchBlock {
      display:flex;
      justify-content: space-between;
      align-items: end;
      &__search {
        width: 756px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: rgba(0, 74, 96, 0.10);
        input {
          width: 80%;
          outline: none;
          border: none;
          color: rgba(0, 74, 96, 0.50);
          font-size: 16px;
          font-weight: 400;
          background: none;
          padding-left: 16px;
        }
        button {
          display: flex;
          padding: 18px 20px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: var(--color-main, #1B76F9);
          color: var(--color-bg, #FFF);
          font-size: 16px;
          font-weight: 500;
          border: none;
          .searchLine {
            font-size: 24px;
          }
        }
      }
      &__options {
        display: flex;
        gap: 8px;
        .type {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
        .roomPrice {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
      }
    }
    &--Filter {
      display: flex;
      justify-content: space-between;
      &__block {
        display: flex;
        gap: 24px;
        .super {
          display: flex;
          padding: 8px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          cursor: pointer;
          .icon {
            font-size: 24px;
          }
        }
        .super:focus {
          background:  #1B76F9;
          color: #fff;
        }
        .verified {
          display: flex;
          padding: 8px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          cursor: pointer;
          .icon {
            font-size: 24px;
          }
        }
        .verified:focus {
          background:  #1B76F9;
          color: #fff;
        }
      }
      &__sort {
        display: flex;
        align-items: end;
        p {
          color: rgba(0, 74, 96, 0.70);
          font-size: 12.8px;
          font-weight: 400;
          margin-right: 15px;
        }
        select {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
      }
    }
  }
}

@media (max-width: 768px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        flex-direction: column;
        align-items: start;
        gap: 1em;
        &__search {
          width: 685px;
        }
      }
      &--Filter {
        gap: 11.5em;
      }
    }
  }
}

@media (max-width: 576px) {
  #SearchFilter {
    .SearchFilter {
      gap: 8px;
      &--SearchBlock {
        &__search {
          width: 516px;
        }
        &__options {
          flex-wrap: wrap;
          .type {
            padding: 10px 370px 10px 16px;
          }
          .roomPrice {
            padding: 10px 170px 10px 16px;
          }
        }
      }
      &--Filter {
        gap: 8px;
        flex-direction: column;
        align-items: end;
        &__block {
          gap: 8px;
          .super {
            padding: 8px;
            width: 260px;
            justify-content: space-between;
            gap: 0;
          }
          .verified {
            padding: 8px;
            width: 249px;
            justify-content: space-between;
            gap: 0;
          }
        }
        &__sort {
          select {
            padding: 10px 143px 10px 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__search {
          width: 430px;
        }
        &__options {
          .type {
            padding: 10px 284px 10px 16px;
          }
          .roomPrice {
            padding: 10px 127px 10px 16px;
          }
        }
      }
      &--Filter {
        &__block {
          .super {
            width: 217px;
          }
          .verified {
            width: 206px;
          }
        }
        &__sort {
          select {
            padding: 10px 100px 10px 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__search {
          width: 370px;
        }
        &__options {
          .type {
            padding: 10px 224px 10px 16px;

          }
          .roomPrice {
            padding: 10px 97px 10px 16px;
          }
        }
      }
      &--Filter {
        &__block {
          .super {
            width: 187px;
          }
          .verified {
            width: 175px;
          }
        }
        &__sort {
          select {
            padding: 10px 71px 10px 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__search {
          width: 331px;
        }
        &__options {
          .type {
            padding: 10px 185px 10px 16px;

          }
          .roomPrice {
            padding: 10px 77px 10px 16px;
          }
        }
      }
      &--Filter {
        &__block {
          .super {
            width: 166px;
          }
          .verified {
            width: 159px;
          }
        }
        &__sort {
          select {
            padding: 10px 54px 10px 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__search {
          width: 286px;
          height: 49px;
          input {
            font-size: 14px;
          }
          button {
            padding: 12px 8px;
            font-size: 14px;
            .searchLine {
              font-size: 22px;
            }
          }
        }
        &__options {
          .type {
            padding: 10px 140px 10px 16px;

          }
          .roomPrice {
            padding: 10px 55px 10px 16px;
          }
        }
      }
      &--Filter {
        &__block {
          .super {
            width: 145px;
            font-size: 14px;
            .icon {
              font-size: 20px;
            }
          }
          .verified {
            width: 134px;
            font-size: 14px;
            .icon {
              font-size: 20px;
            }
          }
        }
        &__sort {
          select {
            padding: 10px 30px 10px 16px;
          }
        }
      }
    }
  }
}