#forgot {
  background: url("../../img/login-bg.png") no-repeat center/cover;
  min-height: 100vh;

  .forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;


    h1 {
      color: #FFF;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 50px 0;

      span {
        margin-left: 10px;
      }
    }

    &--form {
      display: flex;
      flex-direction: column;
      padding: 40px;
      border-radius: 32px;
      border: 1px solid rgba(0, 74, 96, 0.61);
      background: #FFF;
      width: 46.5%;

      .errorInput {
        ::placeholder {
          color: red;
        }
        width: 100%;
        input {
          border-radius: 11px;
          border: 1px solid red;
          padding: 15px 20px;
          margin: 8px 0;
          font-size: 18px;
          width: 93%;
        }
      }

      ul {
        ::placeholder {
          color: rgba(0, 74, 96, 0.54);
        }
        width: 93%;
        input {
          border-radius: 11px;
          border: 1px solid rgba(0, 74, 96, 0.46);
          padding: 15px 20px;
          margin: 8px 0;
          font-size: 18px;
          width: 100%;
        }
        h5 {
          color: red;
          font-weight: lighter;
          margin-top: -4px;
        }
      }


      button {
        color: #FFF;
        font-size: 20px;
        border-radius: 11px;
        border: 1px solid #0762E5;
        background: #1B76F9;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 12px 0;
        margin: 8px 0;
        cursor: pointer;
      }

    }
  }
}

@media (max-width: 1200px) {
  #forgot {
    .forgot {
      &--form {
        ul {
          input {
            width: 98%;
          }
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  #forgot {
    .forgot {
      &--form {
        ul {
          input {
            width: 96%;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  #forgot {
    .forgot {
      &--form {
        width: 70%;
        ul {
          input {
            width: 98%;
          }
        }
      }

      h1 {
        font-size: 25px;

        img {
          width: 7%;
        }

      }
    }
  }
}


@media (max-width: 576px) {
  #forgot {
    .forgot {
      &--form {
        padding: 27px;
        ul {
          input {
            width: 95%;
          }
        }

        h1 {
          font-size: 25px;

          img {
            width: 7%;
          }

        }
      }
    }
  }
}

@media (max-width: 450px) {
  #forgot {
    .forgot {
      &--form {
        align-items: center;
        padding: 18px;

        width: 93%;

        &__withGoogle {
          font-size: 18px;
          width: 88%;
        }

        button {
          font-size: 18px;
          width: 90%;
        }

        p {
          text-align: center;
        }

        ul {
          input {
            width: 87%;
          }
        }
      }
    }
  }
}