
.openedBg{
  display: none;
}
#header {
  border-bottom: 1px solid rgba(0, 74, 96, 0.50);
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #fff;
  .header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &--openMenu {
      display: none;
    }

    &--navClose {
      outline: none;
      display: none;
    }

    &--logo {
      display: flex;
      align-items: center;

      span {
        color: var(--color-text, #004A60);
        font-size: 21.33px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-right: 6px;
        text-transform: uppercase;
      }
    }

    &--nav {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .active{
        color: #1B76F9;
      }


      a {
        color: var(--color-text, #004A60);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &--lan {
      select {
        color: var(--color-text, #004A60);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 8px;
        padding: 8px 2px;
        border: 1px solid rgba(0, 74, 96, 0.50);
        outline: none;
      }

      &__btn {
        color: var(--color-bg, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 8px 16px;
        border-radius: 8px;
        background: var(--color-main, #1B76F9);
        border: none;
        margin-left: 20px;
      }

      &__btnOut {
        color: var(--color-bg, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 8px 16px;
        border-radius: 8px;
        background: var(--color-main, #e70000);
        border: none;
        margin-left: 20px;
      }
    }
  }
}


@media (max-width: 768px) {
  .openedBg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(2px);
    z-index: 998;
  }
  #header {
    .header {
      position: relative;
      &--nav {
        display: none;
      }

      &--lan {
        display: none;
      }

      &--openMenu {
        display: block;

        &__showMenu {
          display: flex;
          align-items: end;
          flex-direction: column;
          position: absolute;
          top: 12px;
          right: 0;

          &--big {
            width: 35px;
            height: 3px;
            margin: 10px 0;
            background: #004A60;
          }

          &--let {
            width: 26px;
            height: 3px;
            background: #004A60;
          }
        }
      }

      @keyframes any {
        0% {
          right: -40%;
        }
        100% {
          right: 0;
        }
      }

      &--navOpen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.19);
        backdrop-filter: blur(2px);
        z-index: 998;
        animation: any 1s ease-in-out alternate;


        &__block {
          transition: 1s;
          display: flex;
          flex-direction: column;
          align-items: end;
          position: absolute;
          top: 0;
          right: 0;
          width: 26%;
          padding: 20px 40px;
          border-radius: 32px 0 0 32px;
          background: #FFFFFF;
          z-index: 999;

          &--close {
            font-size: 26px;
            //padding-top: 20px;
            margin-bottom: 30px;
          }

          &--btn {
            color: var(--color-bg, #FFF) !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 8px 16px !important;
            border-radius: 8px;
            background: var(--color-main, #1B76F9);
            border: none;
            margin: 16px 0;
          }

          a {
            color: var(--color-text, #004A60);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 16px 0;
          }

          select {
            color: var(--color-text, #004A60);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 8px;
            padding: 8px 2px;
            border: 1px solid rgba(0, 74, 96, 0.50);
            outline: none;
            margin: 16px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #header {
    .header {
      &--navOpen {
        &__block {
          width: 33%;
        }
      }
    }
  }
}

@media (max-width: 465px) {
  #header {
    .header {
      &--navOpen {
        &__block {
          width: 37%;
        }
      }
    }
  }
}


@media (max-width: 450px) {
  #header {
    .header {
      &--navOpen {
        &__block {
          width: 40%;
        }
      }
    }
  }
}


@media (max-width: 375px) {
  #header {
    .header {
      &--navOpen {
        &__block {
          width: 47%;
        }
      }
    }
  }
}


@media (max-width: 320px) {
  #header {
    .header {
      &--navOpen {
        &__block {
          width: 54%;
        }
      }
    }
  }
}
