#Hero {
  padding: 144px 0 0 0;
  .Hero {
    background: url("./../../../img/Image.png") no-repeat center/cover;
    height: 400px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      color: var(--color-bg, #FFF);
      text-align: center;
      font-size: 58.5px;
      font-weight: 600;
      padding-top: 38px;
      padding-bottom: 140px;
    }

    &--block {
      display: flex;
      width: 90%;
      padding: 24px;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      border-radius: 32px;
      border: 1px solid rgba(0, 74, 96, 0.50);
      background: #FFF;

      &__filter {
        &--rentOrBuy {
          display: flex;
          gap: 8px;
          margin-bottom: 8px;

          .rentBuy {
            display: flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 8px;
            border-radius: 8px;
            border: 1px solid rgba(0, 74, 96, 0.50);
            cursor: pointer;
            color: rgba(0, 74, 96, 0.70);
          }

        }

        &--options {
          display: flex;
          gap: 8px;
          .type {
            display: flex;
            padding: 10px 10px 10px 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border: 1px solid rgba(0, 74, 96, 0.50);
            color: rgba(0, 74, 96, 0.70);
            font-size: 16px;
            font-weight: 400;
            border-radius: 8px;
            //border: none;
            outline: none;
            cursor: pointer;
          }
          .roomPrice {
            display: flex;
            padding: 10px 10px 10px 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border: 1px solid rgba(0, 74, 96, 0.50);
            color: rgba(0, 74, 96, 0.70);
            font-size: 16px;
            font-weight: 400;
            border-radius: 8px;
            //border: none;
            outline: none;
            cursor: pointer;
          }
        }
      }

      &__field {
        cursor: pointer;
        display: flex;
        width: 762px;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: rgba(0, 74, 96, 0.10);

        .search {
          border: none;
          outline: none;
          color: rgba(0, 74, 96, 0.50);
          font-size: 16px;
          font-weight: 400;
          background: none;
          margin-left: 10px;
          width: 80%;
          height: 100%;
        }

        .btnSearch {
          display: flex;
          padding: 16px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: #1B76F9;
          border: none;
          color: #FFF;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 50.7px;
        padding-top: 58px;
      }
    }
  }

}


@media (max-width: 992px) {
  #Hero {
    .Hero {
      &--block {
        zoom: 99%;
        display: flex;
        flex-wrap: wrap-reverse;
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 143px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 492px 10px 16px;
            }
            .roomPrice {
              padding: 10px 233px 10px 16px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 850px) {
  #Hero {
    .Hero {
      &--block {
    
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 141px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 482px 10px 16px;
            }
            .roomPrice {
              padding: 10px 228px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 140px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 480px 10px 16px;
            }
            .roomPrice {
              padding: 10px 227px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 835px) {
  #Hero {
    .Hero {
      &--block {
      
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 136.5px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 465px 10px 16px;
            }
            .roomPrice {
              padding: 10px 219.5px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 830px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 136.5px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 465px 10px 16px;
            }
            .roomPrice {
              padding: 10px 219.5px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 134.5px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 457px 10px 16px;
            }
            .roomPrice {
              padding: 10px 215.5px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 810px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 132.5px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 449px 10px 16px;
            }
            .roomPrice {
              padding: 10px 211.5px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .hero {
    .hero {
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 132.5px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 449px 10px 16px;
            }
            .roomPrice {
              padding: 10px 211.5px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .hero {
    .hero {
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 130.5px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 442px 10px 16px;
            }
            .roomPrice {
              padding: 10px 211.5px 10px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #Hero {
    .Hero {
      &--block {
        zoom: 87%;
        display: flex;
        flex-wrap: wrap-reverse;
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 122px;
            }
          }
          &--options {
            display: flex;
            flex-wrap: wrap;
            .type {
              padding: 10px 420px 10px 16px;
            }
            .roomPrice {
              padding: 10px 194px 10px 16px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 576px) {
  #Hero {
    background: url("./../../../img/Image (1).png") no-repeat center/cover;
    .Hero {
      background: none;
      margin: 0;
      h1 {
        font-size: 42.7px;
        padding-top: 50px;
        padding-bottom: 155px;
      }
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 87px;
            }
          }
          &--options {
            .type {
              padding: 10px 278px 10px 16px;
            }
            .roomPrice {
              padding: 10px 124px 10px 16px;
            }
          }
        }
        &__field {
          padding: 10px;
        }
      }
    }
  }
}


@media (max-width: 480px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 29.7px;
        padding-top: 92px;
        padding-bottom: 120px;
      }
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 69px;
            }
          }
          &--options {
            .type {
              padding: 10px 207px 10px 16px;
            }
            .roomPrice {
              padding: 10px 88px 10px 16px;
            }
          }
        }
        &__field {
          padding: 10px;
        }
      }
    }
  }
}


@media (max-width: 414px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 29.7px;
        padding-top: 91px;
        padding-bottom: 118px;
      }
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 57px;
            }
          }
          &--options {
            .type {
              padding: 10px 160px 10px 16px;
            }
            .roomPrice {
              padding: 10px 64px 10px 16px;
            }
          }
        }
        &__field {
          .search {
            font-size: 14px;
          }
          .btnSearch {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 27.7px;
        padding-top: 99px;
        padding-bottom: 114px;
      }
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 49px;
            }
          }
          &--options {
            .type {
              padding: 10px 125px 10px 16px;
            }
            .roomPrice {
              padding: 10px 47px 10px 16px;
            }
          }
        }
        &__field {
          padding: 9px;
          .search {
            margin-left: 5px;
          }
          .btnSearch {

          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 27.7px;
        padding-top: 99px;
        padding-bottom: 114px;
      }
      &--block {
        &__filter {
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 41px;
            }
          }
          &--options {
            .type {
              padding: 10px 94px 10px 16px;
            }
            .roomPrice {
              padding: 10px 31px 10px 16px;
            }
          }
        }
        &__field {
          padding: 9px;
          .search {
            margin-left: 5px;
            font-size: 12.5px;
          }
          .btnSearch {
            font-size: 13px;
          }
        }
      }
    }
  }
}