#Hero {
  padding: 144px 0 0 0;

  .Hero {
    background: url("./../../../img/Image.png") no-repeat center/cover;
    height: 400px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      color: var(--color-bg, #FFF);
      text-align: center;
      font-size: 58.5px;
      font-weight: 600;
      padding-top: 38px;
      padding-bottom: 140px;
    }

    &--block {
      display: flex;
      width: 90%;
      padding: 24px;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      border-radius: 32px;
      border: 1px solid rgba(0, 74, 96, 0.50);
      background: #FFF;

      &__filter {
        &--rentOrBuy {
          display: flex;
          gap: 8px;
          margin-bottom: 8px;

          .rentBuy {
            display: flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 8px;
            border-radius: 8px;
            border: 1px solid rgba(0, 74, 96, 0.50);
            cursor: pointer;
            color: rgba(0, 74, 96, 0.70);
          }

        }

        &--options {
          display: flex;
          gap: 8px;

          .type {
            display: flex;
            padding: 10px 10px 10px 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border: 1px solid rgba(0, 74, 96, 0.50);
            color: rgba(0, 74, 96, 0.70);
            font-size: 16px;
            font-weight: 400;
            border-radius: 8px;
            //border: none;
            outline: none;
            cursor: pointer;
          }

          .roomPrice {
            display: flex;
            padding: 10px 10px 10px 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border: 1px solid rgba(0, 74, 96, 0.50);
            color: rgba(0, 74, 96, 0.70);
            font-size: 16px;
            font-weight: 400;
            border-radius: 8px;
            //border: none;
            outline: none;
            cursor: pointer;
          }
        }
      }

      &__field {
        cursor: pointer;
        display: flex;
        width: 762px;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: rgba(0, 74, 96, 0.10);

        .search {
          border: none;
          outline: none;
          color: rgba(0, 74, 96, 0.50);
          font-size: 16px;
          font-weight: 400;
          background: none;
          margin-left: 10px;
          width: 80%;
          height: 100%;
        }

        .btnSearch {
          display: flex;
          padding: 16px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: #1B76F9;
          border: none;
          color: #FFF;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 50.7px;
        padding-top: 58px;
      }
    }
  }

}


@media (max-width: 992px) {
  #Hero {
    .Hero {
      &--block {
        display: flex;
        flex-wrap: wrap-reverse;

        &__filter {
          width: 100%;
          &--rentOrBuy {
            .rentBuy {
              padding: 8px 0;
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &--options {
            display: flex;
            flex-wrap: wrap;

            .type {
             padding: 10px 0;
             width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
            }

            .roomPrice {
              padding: 10px 0;
              width: 49.3%;
              justify-content: center;
              align-self: center;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 49.1%;
          }
        }
        }
       
      }
    }
  }
}

@media(max-width: 665px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 49.1%;
          }
        }
        }
       
      }
    }
  }
}

@media(max-width: 609px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 49%;
          }
        }
        }
       
      }
    }
  }
}


@media (max-width: 576px) {
  #Hero {
    background: url("./../../../img/Image (1).png") no-repeat center/cover;

    .Hero {
      background: none;
      margin: 0;

      h1 {
        font-size: 42.7px;
        padding-top: 38px;
        padding-bottom: 87px;
      }
      &--block {
        width: 100%;
        &__field  {
          padding: 10px;
        }
      }
    }
  }
}

@media(max-width: 554px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 48.9%;
          }
        }
        }
       
      }
    }
  }
}



@media(max-width: 508px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 48.8%;
          }
        }
        }
       
      }
    }
  }
}

@media (max-width: 480px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 41.7px;
      }
    }
  }
}

@media (max-width: 430px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 40.7px;
      }
    }
  }
}

@media(max-width: 425px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 48.7%;
          }
        }
        }
       
      }
    }
  }
}


@media (max-width: 416px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 35.7px;
        padding-top: 44px;

      }

      &--block {
        &__filter {
          &--options {
            .roomPrice {
              width: 48.7%;
            }
          }
        }

        &__field {
          .search {
            font-size: 14px;
          }

          .btnSearch {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 396px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
          &--options {
            .roomPrice {
              width: 48.6%;
            }
          }
        }

        &__field {
          .search {
            font-size: 14px;
          }

          .btnSearch {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 372px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 35.7px;
        padding-top: 54px;

      }
      &--block {
        &__filter {
          &--options {
            .roomPrice {
              width: 48.5%;
            }
          }
        }

        &__field {
          .search {
            font-size: 14px;
          }

          .btnSearch {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 351px) {
  #Hero {
    .Hero {
      h1 {
        font-size: 30.7px;
        padding-top: 66px;

      }
      &--block {
        &__filter {
          &--options {
            .roomPrice {
              width: 48.4%;
            }
          }
        }

        &__field {
          .search {
            font-size: 14px;
          }

          .btnSearch {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media(max-width: 333px) {
  #Hero {
    .Hero {
      &--block {
        &__filter {
           &--options {
          .roomPrice {
             width: 48.3%;
          }
        }
        }
       
      }
    }
  }
}

@media (max-width: 320px) {
  #Hero {
    .Hero {
      h1 {
        padding-top: 67px;
      }

      &--block {

        &__field {
          padding: 9px;

          .search {
            margin-left: 5px;
            font-size: 12.5px;
          }

          .btnSearch {
            font-size: 13px;
          }
        }
      }
    }
  }
}