#SearchFilter {
  padding: 40px 0;
  .SearchFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    &--SearchBlock {
      display:flex;
      justify-content: space-between;
      align-items: end;
      &__search {
        width: 756px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: rgba(0, 74, 96, 0.10);
        input {
          width: 80%;
          outline: none;
          border: none;
          color: rgba(0, 74, 96, 0.50);
          font-size: 16px;
          font-weight: 400;
          background: none;
          padding-left: 16px;
        }
        button {
          display: flex;
          padding: 18px 20px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: var(--color-main, #1B76F9);
          color: var(--color-bg, #FFF);
          font-size: 16px;
          font-weight: 500;
          border: none;
          .searchLine {
            font-size: 24px;
          }
        }
      }
      &__options {
        display: flex;
        gap: 8px;
        select {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
      }
    }
    &--Filter {
      display: flex;
      justify-content: space-between;
      &__block {
        display: flex;
        gap: 24px;
        button {
          display: flex;
          padding: 8px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          cursor: pointer;
          .icon {
            font-size: 24px;
          }
        }
        button:focus {
          background:  #1B76F9;
          color: #fff;
        }
      }
      &__sort {
        display: flex;
        align-items: end;
        p {
          color: rgba(0, 74, 96, 0.70);
          font-size: 12.8px;
          font-weight: 400;
          margin-right: 15px;
        }
        select {
          color: rgba(0, 74, 96, 0.70);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px 10px 16px;
          border-radius: 8px;
          border: 1px solid rgba(0, 74, 96, 0.50);

        }
      }
    }
  }
}

@media (max-width: 992px) {
  #SearchFilter {
    .SearchFilter {
      gap: 1em;
      &--SearchBlock {
        flex-direction: column;
        align-items: end;
        gap: 1em;
        &__search {
          width: 100%;
        }
      }
      &--Filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}


@media (max-width: 576px) {
  #SearchFilter {
    .SearchFilter {
      gap: 8px;
      &--SearchBlock {
        align-items: start;
        &__options {
          width: 100%;
          flex-wrap: wrap;
          .type {
            padding: 10px 10px 10px 16px;
            width: 100%;
          }
          .roomPrice {
            padding: 10px 10px 10px 16px;
            width: 49.2%;
          }
        }
      }
      &--Filter {
        width: 100%;
        gap: 8px;
        flex-direction: column;
        align-items: end !important;
        &__block {
          width: 100%;
          gap: 8px;
          .super {
            padding: 8px;
            width: 100%;
            justify-content: space-between;
            gap: 0;
          }
          .verified {
            padding: 8px;
            width: 100%;
            justify-content: space-between;
            gap: 0;
          }
        }
        &__sort {
          width: 100%;
          display: flex;
          align-items: end;
          justify-content: end;
          select {
            padding: 10px 10px 10px 16px;
            width: 49.2%;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__options {
          .type {
            width: 100%;
          }
          .roomPrice {
            width: 49%;
          }
        }
      }
      &--Filter {
        &__sort {       
          select {
            width: 49%;
          }
        }
      }
    }
  }
}


@media (max-width: 443px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__options {
          .roomPrice {
            width: 48.9%;
          }
        }
      }
      &--Filter {
        &__sort {       
          select {
            width: 48.9%;
          }
        }
      }
    }
  }
}

@media (max-width: 403px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__options {
          .roomPrice {
            width: 48.8%;
          }
        }
      }
      &--Filter {
        &__sort {       
          select {
            width: 48.8%;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__options {
          .roomPrice {
            width: 48.7%;
          }
        }
      }
      &--Filter {
        &__sort {       
          select {
            width: 48.7%;
          }
        }
      }
    }
  }
}


@media (max-width: 341px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__options {
          .roomPrice {
            width: 48.6%;
          }
        }
      }
      &--Filter {
        &__sort {       
          select {
            width: 48.6%;
          }
        }
      }
    }
  }
}



@media (max-width: 320px) {
  #SearchFilter {
    .SearchFilter {
      &--SearchBlock {
        &__search {
          height: 48px;
          input {
            font-size: 14px;
          }
          button {
            padding: 12px 8px;
            font-size: 14px;
            .searchLine {
              font-size: 22px;
            }
          }
        }
        &__options {
          .type {
            font-size: 14px;
          }
          .roomPrice {
            font-size: 14px;
          }
        }
   
      }
      &--Filter {
        &__block {
          .super {
            font-size: 14px;
            .icon {
              font-size: 20px;
            }
          }
          .verified {
            font-size: 14px;
            .icon {
              font-size: 20px;
            }
          }
        }
        &__sort {
          select {
            font-size: 14px;
          }
        }
      }
    }
  }
}